<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"><title>Starr Page</title></head>
<body class="bg-light">
<nav th:replace="fragments/header :: header"></nav>
<div class="d-flex">
    <div class="content p-4">

        <div class="form-group" style="float:left; width:50%; display:inline-block; padding-left: 20px;">
            <h4 class="mb-4">Convert to Short URL</h4>
            <input th:field="*{long_url}" type="text" class="form-control" id="long_url"
                   placeholder="Enter original URL" required>
            <div class="card-body" th:text="*{long_url_text}"></div>
            <div class="card-body">
                <a class="btn btn-primary btn-lg btn-block btn-pill" th:href="@{/}">Generate</a>
            </div>
        </div>

        <div class="form-group" style="float:left; width:50%; display:inline-block; padding-left: 20px;">
            <h4 class="mb-4">Recover Original URL</h4>
            <input th:field="*{short_url}" type="text" class="form-control" id="short_url"
                   placeholder="Enter shorten URL" required>
            <div class="card-body" th:text="*{short_url_text}"></div>
            <div class="card-body">
                <a class="btn btn-primary btn-lg btn-block btn-pill" th:href="@{/}">Return</a>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/footer :: scripts"></script>
</body>

<style>

</style>
</html>