<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"><title>Starr Page</title></head>
<body class="bg-light">
<nav th:replace="fragments/header :: header"></nav>
<div class="d-flex">
    <div class="content p-4">
        <div class="card-body" style="float:left; width:50%; display:inline-block; padding-left: 20px;">
            <form th:action="@{/short}" th:object="${linkForShort}" method="POST">
                <div class="form-group">
                    <h4 class="mb-4">Convert to Short URL</h4>
                    <input th:field="*{originalLink}" type="text" class="form-control" id="long_url"
                           placeholder="Enter original URL">
                    <div class="alert alert-danger" th:if="${error}" th:text="'Incorrect URL'"></div>
                    <div class="card-body" th:text="*{shortLink}"></div>
                    <div class="card-body">
                        <button class="btn btn-success btn-pill" type="submit">Convert</button>
                    </div>
                </div>
                <div class="form-group">
                    <h6 class="mb-4">Set Length of URL</h6>
                    <select size="1" th:field="*{length}" required>
                        <option th:value="2">2</option>
                        <option th:value="4">4</option>
                        <option th:value="6">6</option>
                        <option th:value="8">8</option>
                        <option th:value="10">10</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="card-body" style="float:left; width:50%; display:inline-block;">
            <form th:action="@{/original}" th:object="${linkForOriginal}" method="POST">
                <div class="form-group" style="float:left; width:45%; display:inline-block; padding-left: 20px;">
                    <h4 class="mb-4">Recover Original URL</h4>
                    <input th:field="*{shortLink}" type="text" class="form-control" id="short_url"
                           placeholder="Enter shorten URL">
                    <div class="alert alert-danger" th:if="${notFound}" th:text="'This URL not generated yet.'"></div>
                    <div class="card-body" th:text="*{originalLink}"></div>
                    <div class="card-body">
                        <button class="btn btn-success btn-pill" type="submit">Recover</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="content p-4">
    <div class="card-body">
        <a class="btn btn-primary btn-lg btn-block btn-pill" th:href="@{/}">Clear</a>
    </div>
</div>
<script th:replace="fragments/footer :: scripts"></script>
</body>

<style></style>
</html>